# Nome app
# Regra: minusculo, sem espaco, usar "-" no lugar de separadores
APP_NAME=start-project

# Usuario host
# Vazio = usa UID/GID do host automaticamente
LOCAL_UID=
LOCAL_GID=

# App
# `make up` sobe a primeira porta livre a partir daqui
HOST_PORT=8080
APP_ENV=production

# Banco
# `make up` sobe a primeira porta livre a partir daqui
DB_HOST=db
DB_PORT=3306
DB_DATABASE=${APP_NAME}
DB_ROOT_PASSWORD=password
